maven/com*
packages
*.log
/.mvn
/.ide
/.idea
./**/*.iml
*/**/target
*/**/bin
*/**/.settings
*/**/.project
*/**/.classpath
*/**/.mvn
*/**/.idea
*/**/publish
*/**/node_modules
*/**/dist-rollup
*/**/out-tsc