@charset "UTF-8";
/*Tabset */
/*Tabset */
/**
 * basic.scss
 */
.themesdefault {
  background-color: #C81217; }

.themesdefault:hover {
  background-color: #FF9191; }

.subcount-info:hover {
  color: #CF242A !important; }

/**
* 顶部横栏的样式
*/
.gw-header {
  background: linear-gradient(207deg, #E53131 0%, #CF242A 100%); }
  .gw-header .gw-header--exitfullscreen-wrapper {
    border-top: 1px solid #CF242A; }
    .gw-header .gw-header--exitfullscreen-wrapper .gw-header--exitfullscreen-btn {
      background: url("../../../img/orishow.svg") no-repeat; }
      .gw-header .gw-header--exitfullscreen-wrapper .gw-header--exitfullscreen-btn:hover {
        background-image: url("../../../img/passshow.svg") no-repeat; }

.gw-header--application-icon-container:hover, .gw-header--application-icon-container.f-state-active {
  background: linear-gradient(269deg, #af0303 0%, #BB0707 50%, #af0303 100%); }

.gw-header-toolbar--content:hover {
  background-color: #D5161B; }

/**
* farrisapphome.scss
*/
.searce .select-show-mode .show-mode-active {
  color: #CF242A !important; }

.gw-apps-management--tabs-container .tabs-container--item.active {
  background-image: linear-gradient(225deg, #F52828 0%, #D2171E 100%); }

.down-arrow.active::after {
  border-color: #C81217; }

.mode-active {
  background: linear-gradient(45deg, #D0242A, rgba(207, 36, 42, 0.5));
  background-clip: text;
  -o-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }

.tabs-container--vertical .list-group .list-group-item::after {
  background-image: linear-gradient(243deg, rgba(4, 159, 255, 0.09) 0%, #B60808 26%, #D2171E 67%, rgba(9, 113, 255, 0.13) 95%) !important; }

.tabs-container--vertical .list-group .list-group-item:hover {
  background-image: linear-gradient(243deg, #F6EFEF 0%, #F6EFEF 26%, #F6EFEF 67%, #F6EFEF 95%) !important; }

.tabs-container--vertical .list-group .list-group-item.active {
  background-image: linear-gradient(243deg, #F6EFEF 0%, #F6EFEF 26%, #F6EFEF 67%, #F6EFEF 95%) !important; }

/**
* list-index.scss
*/
.keyApplication .group .module--list .module--list-item::after {
  background-image: linear-gradient(90deg, #ECECEC 0%, #D0242A 50%, #FFD3D3 100%); }

.keyApplication .group .module--list .module--list-item:hover {
  color: #C81217; }

.listview--nav-horizontal .active .keyApplicationName {
  background-color: #C81217; }

.down-arrow.active::after {
  border-color: #C81217; }

.tileview--menu-item .menu-item--icon img,
.menu-submenu--title .menu-item--icon .gw-icon {
  color: #DD1C21; }

.To2_search_icon_search {
  color: #DD1C21; }

.menu-submenu--title-selected {
  color: #C81217 !important; }

.tileview--menu-item:hover,
.menu-submenu--title:hover {
  color: #C81217; }
  .tileview--menu-item:hover .menu-item--text,
  .menu-submenu--title:hover .menu-item--text {
    color: #C81217; }

.tileview--menu-item-selected {
  color: #D5161B;
  background: #FBEEEE; }
  .tileview--menu-item-selected .menu-item--text {
    color: #D5161B; }

.tileview--menu-item-selected .menu-submenu--title .menu-item--icon-hybrid::before {
  background: #FBEEEE !important; }

.tileview--menu .menu-list-item--arrow {
  color: #D5161B; }

.application-list--header-title--icon .header-title--icon-item {
  background: rgba(208, 37, 42, 0.9); }
  .application-list--header-title--icon .header-title--icon-item-right {
    background: rgba(207, 36, 42, 0.5); }

.application-wrapper--list-item::after {
  background-image: linear-gradient(90deg, #ECECEC 0%, #D0242A 50%, #FFD3D3 100%); }

.application-wrapper--list-item:hover .application-wrapper--list-item-text {
  color: #C81217; }

.tileview--menu-item::after {
  background-image: linear-gradient(243deg, rgba(4, 159, 255, 0.09) 0%, #B60808 26%, #D2171E 67%, rgba(9, 113, 255, 0.13) 95%); }

.keyApplication-header-wrapper .module-head .module-header--icon {
  color: #DD1C21; }

.keyApplication .group .group-title .group-title--icon-container .group-title--icon {
  background: rgba(208, 37, 42, 0.9); }
  .keyApplication .group .group-title .group-title--icon-container .group-title--icon-right {
    background: rgba(207, 36, 42, 0.5); }

.tileview--menu-image {
  -webkit-filter: drop-shadow(#C81217 20px 0);
          filter: drop-shadow(#C81217 20px 0); }

/**
* tabset.scss
*/
.notactive {
  color: #68554A !important; }

.down-arrow.active::after {
  border-color: #C81217; }

.tabset--nav-container {
  background: linear-gradient(180deg, #FDEBE4 0%, #FBF7F7 72%); }
  .tabset--nav-container .nav .nav-item--home .nav-item--home-icon {
    background: url("imgs/home-icon.svg") no-repeat center center; }
  .tabset--nav-container .nav .nav-item--home.active .nav-item--home-icon {
    background-image: url("imgs/home-icon-selected.svg"); }
  .tabset--nav-container .nav .tabset--nav-link {
    color: #68554A; }
    .tabset--nav-container .nav .tabset--nav-link:hover {
      background: none; }
      .tabset--nav-container .nav .tabset--nav-link:hover .nav-link-close {
        color: #666; }
    .tabset--nav-container .nav .tabset--nav-link.active {
      color: #443830;
      background: #edeef1; }
      .tabset--nav-container .nav .tabset--nav-link.active .nav-link-close {
        color: #666; }
  .tabset--nav-container .tabset-container--vertical .list-group .list-group-item::after {
    background-image: linear-gradient(243deg, rgba(4, 159, 255, 0.09) 0%, #B60808 26%, #D2171E 67%, rgba(9, 113, 255, 0.13) 95%); }

/**
* userinfomenu.scss
*/
.detail-content--item:hover {
  background-color: #F9F5F5; }

.detail-content--item-content {
  border-top: 1px solid #F9F5F5; }

.setdefault:hover {
  background: #D5161B; }

.curtenant {
  background: #D5161B;
  color: #fff; }

.curtenant-font-color {
  color: #C81217 !important; }

.gw-navbar-user-dropdown.active,
.gw-navbar-user-dropdown:hover {
  background-color: #D5161B; }

.item-setting-list-content-header:hover {
  color: #C81217; }

.gw-navbar-user-info-content-list-item.item-setting-list:hover {
  color: #C81217;
  background-color: #F9F5F5; }

.gw-navbar-user-info-content-list-item-tenant:hover {
  color: #C81217;
  background-color: #F9F5F5; }

.gw-navbar-user-info-content-list-item.item-setting-list .item-setting-list-content .item-setting-list-content--tenant-change-background {
  background-image: url("../../../img/tenant_change.svg"); }

.gw-navbar-user-info-content-list-item.item-setting-list--tenant-change:hover .item-setting-list-content .item-setting-list-content--tenant-change-size {
  background-image: url("../../../img/tenant_change.svg"); }

.app-inputswitch.app-inputswitch-checked .app-inputswitch-slider {
  background-color: #D0242A; }

/**
* view-tiled.scss
*/
.gw-view-tiled--container .gw-view-tiled--nav .gw-view-tiled--nav-select .gw-view-tiled--nav-show-all {
  border: 1px solid #F9F5F5; }
  .gw-view-tiled--container .gw-view-tiled--nav .gw-view-tiled--nav-select .gw-view-tiled--nav-show-all .select-item:hover {
    background-color: #F6EFEF; }

.gw-view-tiled--container .gw-view-tiled--content .gw-view-tiled--item:hover {
  -o-border-image: linear-gradient(135deg, #FF9F9F, #FFD3D3) 30 30;
     border-image: linear-gradient(135deg, #FF9F9F, #FFD3D3) 30 30; }

/**
* header-tool.scss
*/
.menu-search-wrapper .menu-search--search {
  background: #D5161B; }

.menu-colllection-wrapper .menu-colllection--detail-item:hover {
  background: #F9F5F5; }
  .menu-colllection-wrapper .menu-colllection--detail-item:hover .item-content .item-content-title {
    color: #C81217; }

.menu-colllection-wrapper.show .menu-colllection--item {
  background-color: #D5161B; }

/**
* app-manager.scss
*/
.gw-single-app-wrapper:hover {
  -o-border-image: linear-gradient(135deg, #FF9F9F, #FFD3D3) 30 30;
     border-image: linear-gradient(135deg, #FF9F9F, #FFD3D3) 30 30; }

.gw-app-group.f-state-active .gw-app-group--header .header--icon {
  color: #DD1C21; }

.gw-apps-management--header .header--search {
  background: #F9F5F5;
  border: 1px solid #F9F5F5; }
  .gw-apps-management--header .header--search .search--input {
    background: #F9F5F5; }
  .gw-apps-management--header .header--search .search--append .f-icon {
    color: #D0242A; }
  .gw-apps-management--header .header--search:hover, .gw-apps-management--header .header--search.f-state-focuse {
    border: 1px solid #FF9191; }
  .gw-apps-management--header .header--search .search--placeholder {
    background: #F9F5F5;
    border: 1px solid #F9F5F5; }
  .gw-apps-management--header .header--search .search--result-panel .match {
    color: #D5161B; }
  .gw-apps-management--header .header--search .search--result-panel .search--result-list .search--result-item:hover {
    background: #F9F5F5; }
  .gw-apps-management--header .header--search .search--result-panel .search--prompt-list .search--prompt-item:hover {
    background-image: linear-gradient(215deg, #C81217 0%, #C81217 100%); }

.gw-apps-management--header .header--view .view--btn.active {
  background-image: linear-gradient(225deg, #F52828 0%, #D2171E 100%); }

.gw-apps-management--header .header--view .view--btn:hover:not(.active) {
  background-image: linear-gradient(225deg, #F52828 0%, #D2171E 100%); }

.search--result-item-keyboard--control {
  background: #F9F5F5; }

/*
*setting.color
*/
.user-setting-list .user-setting-message .user-avatar .user-avatar-sex {
  background-color: #FF9191; }

.user-setting-list .user-setting-menu .menu-item-inner.active {
  border-left: 3px solid #D0242A; }

.user-setting-list .user-setting-menu .menu-item-inner.active .menu-item-text,
.user-setting-list .user-setting-menu .menu-item-inner.active .menu-item-icon {
  color: #D0242A; }

.user-setting-content-wrapper-title::before {
  background: #FF9191; }

.user-setting-content-wrapper-title.user-setting-content-wrapper-title-new::before {
  background-color: #ED5858; }

.user-setting-content-wrapper-title .title-edit-btn {
  color: #D0242A; }

.user-setting-content-wrapper-main .user-setting-form .form-wrap .form-input-color .theme-color-list .theme-color-list-img {
  background-color: #D0242A; }

.user-setting-content-wrapper-main .user-setting-form .form-wrap .form-input-color .theme-color-list .theme-color-list-check,
.user-setting-content-wrapper-main .user-setting-form .form-wrap .form-input-size .theme-size-list .theme-size-list-check {
  color: #D0242A; }

.user-setting-content-wrapper-main .user-setting-form .form-wrap .form-input-color .theme-color-list.active::before,
.user-setting-content-wrapper-main .user-setting-form .form-wrap .form-input-size .theme-size-list.active::before {
  border: 1px solid rgba(207, 36, 42, 0.5); }

.user-setting-list .user-setting-menu .menu-item-inner.active {
  background-color: #F9F5F5; }

.user-setting-list .user-setting-menu .menu-item-inner:hover {
  background-color: #F9F5F5; }

/*
*syssetting.color
*/
.login_page_css {
  background: #F9F5F5; }

.login_page_css2 {
  background: #F9F5F5; }

.tabset--nav-container .nav {
  height: 38px; }
  .tabset--nav-container .nav .tabset--nav-link {
    font-size: 13px;
    padding: 0 6px 0 20px;
    height: 38px;
    line-height: 38px; }
  .tabset--nav-container .nav .nav-link-close {
    margin: 0 0 0 14px; }

/*追加 20210109-------------拟物风自定义部分*/
.gw-container-tabset {
  position: relative;
  /*处理Tab顶部的小蓝色背景，为了漏出4px的圆角*/
  /*Tab整体区域 增加阴影、背景色*/ }
  .gw-container-tabset::before {
    content: "";
    display: block;
    background: #E53131;
    height: 5px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    top: 0; }
  .gw-container-tabset .tabset--nav-container {
    z-index: 100;
    margin: 0;
    width: auto;
    position: relative;
    box-shadow: 0 1px 10px 0 rgba(14, 72, 161, 0.2);
    background: linear-gradient(180deg, #FDEBE4 0%, #FBF7F7 72%);
    /*选中标签页后面的滑块样式*/ }
    .gw-container-tabset .tabset--nav-container .active-bg {
      box-shadow: 0 0 10px 0 rgba(57, 66, 100, 0.1);
      border-radius: 4px;
      position: absolute;
      width: 51px;
      height: 32px;
      margin: 3px 0 0;
      transition: all .2s ease-out;
      z-index: 105;
      background: linear-gradient(180deg, #FDFAF9 0%, #fff 100%); }

.tabset--nav-container .nav .tabset--nav-item {
  /*鼠标滑过，背景色调整*/
  /*鼠标滑过，不同hover控制颜色，因为有方块背景*/ }
  .tabset--nav-container .nav .tabset--nav-item::before {
    content: '';
    display: block;
    background: #FFF8F6;
    top: 3px;
    bottom: 3px;
    left: -1px;
    right: 3px;
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(57, 66, 100, 0.1);
    opacity: 0;
    width: 0;
    transition: opacity 0.2s ease-in;
    z-index: 100; }
  .tabset--nav-container .nav .tabset--nav-item:hover {
    background: none; }
    .tabset--nav-container .nav .tabset--nav-item:hover::before {
      width: auto;
      opacity: 1; }

.tabset--nav-container .nav .tabset--nav-item-active {
  /*鼠标滑过，背景色调整*/ }
  .tabset--nav-container .nav .tabset--nav-item-active::before {
    content: '';
    display: block;
    background: #FFF8F6;
    top: 3px;
    bottom: 3px;
    left: -1px;
    right: 3px;
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(57, 66, 100, 0.1);
    width: auto;
    opacity: 1;
    transition: opacity 0.2s ease-in;
    z-index: 100; }
  .tabset--nav-container .nav .tabset--nav-item-active::after {
    display: none; }

.tabset--nav-container .nav .tabset--nav-link {
  font-size: 13px;
  position: relative;
  z-index: 110;
  /*不是图标，是小圆点，所以把图标隐藏*/
  /*鼠标滑过后出现叉号图标*/
  /*当前标签被选中*/ }
  .tabset--nav-container .nav .tabset--nav-link .nav-link-close {
    text-align: left; }
    .tabset--nav-container .nav .tabset--nav-link .nav-link-close .f-icon {
      display: none; }
    .tabset--nav-container .nav .tabset--nav-link .nav-link-close:hover .f-icon {
      display: inline-block !important; }
  .tabset--nav-container .nav .tabset--nav-link:hover .nav-link-close .f-icon {
    display: inline-block; }
  .tabset--nav-container .nav .tabset--nav-link.active {
    color: #443830 !important;
    background: none;
    box-shadow: none;
    z-index: 110; }
    .tabset--nav-container .nav .tabset--nav-link.active .nav-link-close::before {
      content: '';
      display: block;
      border-radius: 3px;
      background-image: linear-gradient(-45deg, #8BE3B0 0%, #54D090 100%);
      width: 6px;
      height: 6px;
      margin: 4px 4px 4px 4px; }
    .tabset--nav-container .nav .tabset--nav-link.active .nav-link-close:hover::before {
      display: none; }
    .tabset--nav-container .nav .tabset--nav-link.active:hover .nav-link-close .f-icon {
      display: none; }

/*处理跟绿色小点的交互
.tabset--nav-container .nav .tabset--nav-link .tabset--nav-container .nav .tabset--nav-link:hover .nav-link-close {
  color: #A1B8DA;
}
*/
