# 忽略盘载 Java Runtime
/server/runtime/java

# 忽略工具
/tools

# 忽略日志
/logs
/server/log

# 忽略说明文档
/readme.*

# 忽略程序运行的临时文件
/temp
/bin/caf.pid
/server/platform/runtime/cloudprint/doc
/server/config/runtime/version/back
/server/var
