.f-app-profile {
    .f-page-header {
        position: relative;
        height: 48px;

        .f-page-header-base {
            position: absolute;
            z-index: 1;
            width: 100%;

            .f-toolbar {
                .btn {
                    box-shadow: 0 4px 10px 0 rgba(69, 144, 255, 0.25);
                    border-radius: 15px;
                    margin: 0 6px;
                }

                .btn-primary {
                    background-image: linear-gradient(-51deg, #328bff 0%, #2a87ff 100%);
                }
            }
        }

        .f-page-header-background {
            background-image: linear-gradient(180deg, rgba(221, 236, 255, 0.9) 0%, rgba(249, 252, 255, 0.9) 63%);
            border-radius: 8px;
            box-shadow: 0 1px 10px 0 rgba(90, 102, 133, 0.05);
            height: 100%;
            opacity: 0.66;
            position: absolute;
            width: 100%;
            z-index: 0;
        }
    }

    .f-page-main {
        height: 100%;

        .f-app-profile-form {
            margin: 20%;

            .col-12 {
                margin-bottom: .5rem;
            }

            .f-profile-toolbar {
                display: flex;
                margin: .5rem auto;

                >div {
                    margin: auto;

                    .btn {
                        box-shadow: 0 4px 10px 0 rgba(69, 144, 255, 0.25);
                        border-radius: 15px;
                        margin: 0 6px;
                    }

                    .btn-primary {
                        background-image: linear-gradient(-51deg, #328bff 0%, #2a87ff 100%);
                    }
                }
            }
        }
    }
}