@font-face {
    font-family: 'fd-i-Family';
    src: url('iconfont.ttf?t=1640255080725') format('truetype');
}

.fd-i-Family {
    font-family: 'fd-i-Family' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fd_pc-Table:before {
    content: "\e615";
}

.fd_pc-split-card:before {
    content: "\e616";
}

.fd_pc-point-up:before {
    content: "\e617";
}

.fd_pc-merge-like-card:before {
    content: "\e618";
}

.fd_pc-cursor:before {
    content: "\e619";
}

.fd_pc-split-like-card:before {
    content: "\e61a";
}

.fd_pc-response-layout-4:before {
    content: '\e601';
}

.fd_pc-response-layout-3:before {
    content: '\e602';
}

.fd_pc-response-layout-2:before {
    content: '\e603';
}

.fd_pc-response-layout-1:before {
    content: '\e604';
}

.fd_pc-city-selector:before {
    content: '\e600';
}

.fd_pc-shenpiyijian:before {
    content: '\e073';
}

.fd_pc-eventCode:before {
    content: '\e071';
}

.fd_pc-delete-element:before {
    content: '\e070';
}

.fd_pc-enable-function:before {
    content: '\e06f';
}

.fd_pc-dragHandler:before {
    content: '\e06e';
}

.fd_pc-editEvent:before {
    content: '\e06d';
}

.fd_pc-extend-setting:before {
    content: '\e06c';
}

.fd_pc-variable-setting:before {
    content: '\e06b';
}

.fd_pc-leaf-node:before {
    content: '\e06a';
}

.fd_pc-import-from-cdm:before {
    content: '\e069';
}

.fd_pc-root-node:before {
    content: '\e068';
}

.fd_pc-push:before {
    content: '\e6067';
}

.fd_pc-save-sync:before {
    content: '\e066';
}

.fd_pc-delete-obj:before {
    content: '\e065';
}

.fd_pc-sync-bizelements:before {
    content: '\e064';
}

.fd_pc-basic-info:before {
    content: '\e063';
}

.fd_pc-advanced-setting:before {
    content: '\e062';
}

.fd_pc-add-new-element:before {
    content: '\e061';
}

.fd_pc-corner-marks-right-bottom:before {
    content: '\e060';
}

.fd_pc-add-virtual-element:before {
    content: '\e05f';
}

.fd_pc-cancel:before {
    content: '\e05e';
}

.fd_pc-add-child-obj:before {
    content: '\e05d';
}

.fd_pc-add-same-obj:before,
.fd_pc-imageupload:before {
    content: '\e05c';
}

.fd_pc-yilaiguanxi:before {
    content: '\e05b';
}

.fd_pc-shanchu:before {
    content: '\e05a';
}

.fd_pc-gengduo:before {
    content: '\e059';
}

.fd_pc-git:before {
    content: '\e058';
}

.fd_pc-shouji:before {
    content: '\e057';
}

.fd_pc-diannao:before {
    content: '\e056';
}

.fd_pc-quanxian:before {
    content: '\e055';
}

.fd_pc-daorudaochu:before {
    content: '\e054';
}

.fd_pc-dayinshezhi:before {
    content: '\e053';
}

.fd_pc-yewuliu:before {
    content: '\e052';
}

.fd_pc-shujuzhuanhuanguize:before {
    content: '\e051';
}

.fd_pc-shenjirizhi:before {
    content: '\e050';
}

.fd_pc-bianmaguize:before {
    content: '\e04f';
}

.fd_pc-zhuanyebanshejiqi:before {
    content: '\e04e';
}

.fd_pc-lingdaimashejiqi:before {
    content: '\e04d';
}

.fd_pc-didaimashejiqi:before {
    content: '\e04c';
}

.fd_pc-geshidingzhi:before {
    content: '\e04b';
}

.fd_pc-kuozhankaifa:before {
    content: '\e04a';
}

.fd_pc-dingzhi:before {
    content: '\e049';
}

.fd_pc-ziyuanguanliqi:before {
    content: '\e048';
}

.fd_pc-zhedieshouqi:before {
    content: '\e047';
}

.fd_pc-zhediezhankai:before {
    content: '\e046';
}

.fd_pc-xianshiID:before {
    content: '\e045';
}

.fd_pc-sousuo:before {
    content: '\e044';
}

.fd_pc-shuaxin:before {
    content: '\e043';
}

.fd_pc-anheimoshiqidongtai:before {
    content: '\e042';
}

.fd_pc-anheimoshi:before {
    content: '\e041';
}

.fd_pc-tag:before {
    content: '\e040';
}

.fd_pc-html-template:before {
    content: '\e03f';
}

.fd_pc-button-group:before {
    content: '\e03e';
}

.fd_pc-display-field:before,
.fd_pc-static-text:before {
    content: '\e03d';
}

.fd_pc-QdpFramework:before {
    content: '\e03c';
}

.fd_pc-check-group:before {
    content: '\e03b';
}

.fd_pc-list-nav:before {
    content: '\e03a';
}

.fd_pc-nav-tab:before {
    content: '\e039';
}

.fd_pc-file-upload:before {
    content: '\e038';
}

.fd_pc-section:before {
    content: '\e037';
}

.fd_pc-jingtaiwenben:before {
    content: '\e036';
}

.fd_pc-discussion-list:before {
    content: '\e035';
}

.fd_pc-personnel-selector:before {
    content: '\e034';
}

.fd_pc-gags:before {
    content: '\e033';
}

.fd_pc-module:before {
    content: '\e032';
}

.fd_pc-multi-select:before {
    content: '\e031';
}

.fd_pc-drawer:before {
    content: '\e030';
}

.fd_pc-steps:before {
    content: '\e02f';
}

.fd_pc-splitter:before {
    content: '\e02e';
}

.fd_pc-scrollspy:before {
    content: '\e02d';
}

.fd_pc-multi-view-container:before {
    content: '\e02c';
}

.fd_pc-list-view:before {
    content: '\e02b';
}

.fd_pc-charts:before {
    content: '\e02a';
}

.fd_pc-image:before {
    content: '\e029';
}

.fd_pc-scroll-collapsible-area:before {
    content: '\e028';
}

.fd_pc-modal-footer:before {
    content: '\e027';
}

.fd_pc-wizard:before {
    content: '\e026';
}

.fd_pc-page-header:before {
    content: '\e025';
}

.fd_pc-component:before {
    content: '\e024';
}

.fd_pc-data-grid:before {
    content: '\e023';
}

.fd_pc-mingxibiao2:before {
    content: '\e022';
}

.fd_pc-tubiao:before {
    content: '\e021';
}

.fd_pc-query-solution:before {
    content: '\e020';
}

.fd_pc-liushuihao:before {
    content: '\e01f';
}

.fd_pc-switch:before {
    content: '\e01e';
}

.fd_pc-lookup:before {
    content: '\e01d';
}

.fd_pc-erweima:before {
    content: '\e01c';
}

.fd_pc-radio-group:before {
    content: '\e01b';
}

.fd_pc-organization-selector:before {
    content: '\e01a';
}

.fd_pc-approval-logs:before {
    content: '\e019';
}

.fd_pc-combo-list:before {
    content: '\e018';
}

.fd_pc-input-group:before {
    content: '\e017';
}

.fd_pc-textarea:before {
    content: '\e016';
}

.fd_pc-tabs:before {
    content: '\e015';
}

.fd_pc-OCR:before {
    content: '\e014';
}

.fd_pc-number-spinner:before {
    content: '\e013';
}

.fd_pc-fieldset:before {
    content: '\e012';
}

.fd_pc-list-filter:before {
    content: '\e011';
}

.fd_pc-avatar:before {
    content: '\e010';
}

.fd_pc-date-picker:before {
    content: '\e00f';
}

.fd_pc-language-text-box:before {
    content: '\e00e';
}

.fd_pc-discussion-editor:before {
    content: '\e00d';
}

.fd_pc-button:before {
    content: '\e00c';
}

.fd_pc-yuyinshuru:before {
    content: '\e00b';
}

.fd_pc-rich-text-box:before {
    content: '\e00a';
}

.fd_pc-dizhi:before {
    content: '\e009';
}

.fd_pc-time-picker:before {
    content: '\e008';
}

.fd_pc-input-group:before {
    content: '\e007';
}

.fd_pc-view-model:before {
    content: '\e006';
}

.fd_pc-check-box:before {
    content: '\e005';
}

.fd_pc-file-upload:before {
    content: '\e004';
}

.fd_pc-tree-grid:before {
    content: '\e003';
}

.fd_pc-response-form:before {
    content: '\e002';
}

.fd_pc-content-container:before {
    content: '\e001';
}

.fd_pc-fenlanmianban:before {
    content: '\e000';
}