.f-admin {
  .f-admin-content > div {
    display: none;

    &.active {
      display: flex;
    }
  }
}

.f-app-builder-main-header {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  background-image: url(./assets/images/top.svg);
}

.f-app-builder-main-tabs {
  display: flex;
  flex-direction: row;
  flex: 1;
  position: relative;
  height: 48px;

  > .f-app-builder-main-tabs-title {
    font-size: 1.0625rem;
    line-height: 1.625rem;
    color: var(--f-text-01);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 0.875rem 0 0;
    padding: 12px 20px;
    z-index: 1;
  }

  > .f-app-builder-main-tabs-background {
    background-image: linear-gradient(
      180deg,
      rgba(221, 236, 255, 0.9) 0%,
      rgba(249, 252, 255, 0.9) 63%
    );
    border-radius: 8px;
    box-shadow: 0 1px 10px 0 rgba(90, 102, 133, 0.05);
    height: 100%;
    opacity: 0.66;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  > .f-app-builder-main-tabs-content {
    display: flex;
    flex: 1;
    z-index: 1;
  }

  > .f-app-builder-main-tabs-toolbar {
    padding: 12px 20px;
    z-index: 1;

    button {
      background-image: linear-gradient(-51deg, #328bff 0%, #2a87ff 100%);
      box-shadow: 0 4px 10px 0 rgba(69, 144, 255, 0.25);
      border-radius: 15px;
      padding: 6px 28px;
      color: white;
      border: none;
      cursor: pointer;
      margin-right: 10px;
      transition: background-color 0.3s;
    }
  }

  .f-app-builder-main-tab-item {
    border-radius: 8px;
    color: #355782;
    cursor: pointer;
    display: flex;
    float: left;
    font-size: 13px;
    font-weight: 400;
    padding: 10px 14px;
    margin: auto 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.active {
      background-image: linear-gradient(-51deg, #328bff 0%, #2a87ff 100%);
      box-shadow: 0 4px 10px 0 rgba(69, 144, 255, 0.25);
      color: white;
    }

    > span {
      margin-left: 20px;
    }

    > .f-app-builder-main-tab-item-close {
      display: flex;
      margin: 0 0 0 4px;
      width: 16px;

      > i {
        display: none;
        margin: auto;
      }
    }

    &:hover > .f-admiapp-buildern-main-tab-item-close > i {
      display: block;
    }

    &.fix > span {
      margin-left: 0;
    }
  }
}

.f-app-builder-main-content {
  flex: 1;
  margin: 0 24px;
  position: relative;

  .f-app-builder-main-tab-content {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    /* width: calc(100% - 36px); */
    /* height: calc(100% - 18px);} */

    &.active {
      display: block;
    }

    > iframe {
      border: none;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}
