<settings>
	<localRepository>.mvn/repository</localRepository>
	<servers>
		<server>
			<id>caf-repo</id>
			<username>${env.ARTIFACTS_REPO_USERNAME}</username>
			<password>${env.ARTIFACTS_REPO_PASSWORD}</password>
		</server>
		<server>
			<id>caf-snapshots-repo</id>
			<username>${env.ARTIFACTS_REPO_USERNAME}</username>
			<password>${env.ARTIFACTS_REPO_PASSWORD}</password>
		</server>
		<server>
			<id>caf-releases-repo</id>
			<username>${env.ARTIFACTS_REPO_USERNAME}</username>
			<password>${env.ARTIFACTS_REPO_PASSWORD}</password>
		</server>
		<server>
			<id>gsp-repo</id>
			<username>${env.ARTIFACTS_REPO_USERNAME}</username>
			<password>${env.ARTIFACTS_REPO_PASSWORD}</password>
		</server>
		<server>
			<id>gsp-snapshots-repo</id>
			<username>${env.ARTIFACTS_REPO_USERNAME}</username>
			<password>${env.ARTIFACTS_REPO_PASSWORD}</password>
		</server>
		<server>
			<id>gsp-releases-repo</id>
			<username>${env.ARTIFACTS_REPO_USERNAME}</username>
			<password>${env.ARTIFACTS_REPO_PASSWORD}</password>
		</server>
	</servers>
	<mirrors>
		<mirror>
			<id>gsp-repo</id>
			<mirrorOf>gsp-rep</mirrorOf>
			<name>gsp-repo</name>
			<url>https://repos.iec.io/repository/maven-gsp/</url>
		</mirror>
		<mirror>
			<id>gsp-releases-repo</id>
			<mirrorOf>gsp-rep</mirrorOf>
			<name>gsp-releases-repo</name>
			<url>https://repos.iec.io/repository/maven-gsp-releases/</url>
		</mirror>
		<mirror>
			<id>gsp-snapshots-repo</id>
			<mirrorOf>gsp-rep</mirrorOf>
			<name>gsp-snapshots</name>
			<url>https://repos.iec.io/repository/maven-gsp-snapshots/</url>
		</mirror>


		<mirror>
			<id>caf-repo</id>
			<mirrorOf>caf-rep</mirrorOf>
			<url>https://repos.iec.io/repository/maven-caf/</url>
		</mirror>
		<mirror>
			<id>caf-releases-repo</id>
			<mirrorOf>caf-rep</mirrorOf>
			<name>caf-releases-repo</name>
			<url>https://repos.iec.io/repository/maven-caf-releases/</url>
		</mirror>
		<mirror>
			<id>caf-snapshots-repo</id>
			<mirrorOf>caf-rep</mirrorOf>
			<name>caf-snapshots-repo</name>
			<url>https://repos.iec.io/repository/maven-caf-snapshots/</url>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<id>repos.iec.io-caf</id>
			<repositories>
				<repository>
					<id>caf-rep</id>
					<url>https://repos.iec.io/repository/maven-caf/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>repos.iec.io-gsp</id>
			<repositories>
				<repository>
					<id>gsp-rep</id>
					<url>https://repos.iec.io/repository/maven-gsp/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>
	<activeProfiles>
		<!--make the profile active all the time -->
		<activeProfile>repos.iec.io-caf</activeProfile>
		<activeProfile>repos.iec.io-gsp</activeProfile>
	</activeProfiles>
</settings>
