.f-designer-template {
    display: flex;
    height: 100%;
    color: #212529 !important;
    background: #fcfdff;
    padding: 10px;
    flex-direction: column;

  .template-item {
    font-size: 13px;
    cursor: grab;
    display: flex;
    background: #fff;
    align-items: center;
    background-color: #fcfdff;
    border: 1px solid #edf1f5;
    height: 76px !important;
    text-align: center;
    margin: -1px 0 0 -1px !important;
    color: #6080ad;
    text-overflow: ellipsis;
    word-break: keep-all;
    user-select: none;
    padding: 0 10px;

    .farrisControlIcon{
        font-size: 30px;
        margin-right: 10px;
    }
  }
}
