.f-custom-class-editor {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    
    .view-model-list {
        overflow: auto;
        height: 100%;
        background: #fcfdff !important;

        ul {
            padding: 0;
        }

        .f-template-listnav-row .list-nav-link .nav-item-name {
            opacity: 1;
        }
    }
}