:host {
  width: inherit;
  height: inherit;
}

.property-panel {
  position: relative;
}

.property-panel .switcher {
  position: absolute;
  top: 9px;
  right: 0;
  width: 40px;
  text-align: center;
}

.property-panel .switcher i {
  color: #2d2f33 !important;
  font-size: 11px;
  cursor: pointer;
}

.property-panel .side-panel {
  width: 42px !important;
  background-color: #fefeff !important;
  color: #2d2f33;
  font-weight: 400;
  letter-spacing: 4px;
  border-radius: 4px;
  padding-top: 40px !important;
  padding-bottom: 13px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-panel .side-panel .icon {
  display: block;
  text-align: center;
  color: #4190ff;
  margin-bottom: 10px;
}

.property-panel .side-panel span {
  writing-mode: vertical-lr !important;
  font-size: 14px;
  white-space: nowrap !important;
  user-select: none;
  cursor: pointer;
}

.propertyPanel {
  width: 100% !important;
  height: 100%;
  color: rgba(0, 0, 0, 0.75);
  background: #f3f8ff !important;
  border-color: #d8dbe2 !important;
  display: flex;
}

.propertyPanel .title {
  position: relative;
  background: #d0d8e9 !important;

  flex-wrap: wrap;
  border: 0;
}

.propertyPanel .title.p-right {
  padding-right: 40px;
}

.propertyPanel .title > .title-label {
  line-height: 34px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 12px;
  padding-right: 12px;
  color: #333333;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.propertyPanel .title > .title-label.active {
  background: #8fb1df !important;
}

.propertyPanel .title .title-actions {
  position: absolute;
  right: 10px;
  top: 0px;
  padding-left: 35px;
  height: 35px;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
}

.propertyPanel .title .title-actions {
  position: absolute;
  right: 10px;
  top: 0px;
}

.propertyPanel .property-grid .group-label {
  line-height: 30px;
  display: block;
  padding-left: 13px;
  cursor: pointer;
  background: rgb(226, 233, 246) !important;
  color: #435069 !important;
  font-weight: 600 !important;
  border-radius: 6px;
}

.propertyPanel .search .textbox {
  padding-left: 10px;
}

.propertyPanel .search .input-group {
  border-radius: 0;
}

.propertyPanel .panel-body {
  overflow: auto;
  height: 100%;
}

.propertyPanel .property-grid {
  list-style: none;
  margin: 0 12px !important;
  padding: 0;
}

.propertyPanel .property-grid li {
  padding: 2px 0;
}

.propertyPanel .panel-body .property-grid .group-label + div {
  padding-bottom: 14px !important;
  padding-top: 0.25rem !important;
}

.propertyPanel .action-item {
  cursor: pointer;
  display: inline-block;
  transition: transform 50ms ease;
  position: relative;
  padding: 0px;
}

.propertyPanel .action-item > .f-icon {
  color: rgba(66, 66, 66, 0.75);
  line-height: 35px;
  font-weight: 600;
}

.propertyPanel .search .input-group-clear {
  border-radius: 0 !important;
}

/***************************白色主题******************************/

.white-theme .propertyPanel {
  background: #fff !important;
  border: 1px solid #d8dce6 !important;
}

.white-theme .propertyPanel .title {
  overflow: visible;
  background: #fff !important;
  justify-content: space-around;
}

.white-theme .propertyPanel {
  background: #fff !important;
}

.white-theme .propertyPanel .title {
  overflow: visible;
  background: #fff !important;
  flex-wrap: wrap;
  text-align: center;
}

.white-theme .propertyPanel .title > .title-label {
  border-bottom: 0;
  font-weight: 400 !important;
  border-bottom: 0;
  background: #fff !important;
  flex: 1;
  color: #83849b;
}

.white-theme .propertyPanel .title > .title-label > span {
  padding: 0 14px 7px 14px;
}

.white-theme .propertyPanel .title > .title-label.active > span {
  border-bottom: 2px solid #5b89fe;
  color: #5b89fe;
  border-radius: 1.5px;
}

.white-theme .propertyPanel .title.only {
  text-align: left;
}

.white-theme .propertyPanel .property-grid .group-label {
  background: #fff !important;
  line-height: 30px;
  font-weight: 400 !important;
  font-size: 13px;
  color: #3f4764 !important;
  border-radius: 6px;
  background: #eef4ff !important;
  color: #435069 !important;
}

.white-theme .propertyPanel .property-grid .group-label .f-icon {
  color: #5d89fe;
  font-size: 13px;
}

/***************************白色主题 end ******************************/
