.property-item .form-group {
  margin-bottom: 2px;
}

.property-item .col-form-label {
  line-height: 26px;
}

.property-item .row-item {
  align-items: center;
}

.wrap {
  overflow: hidden;
  text-overflow: ellipsis;
}
