.f-designer-settings {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;

    .f-designer-option-panel {
        width: 80%;

        .panel-title {
            color: #000;
            display: inline-flex;
            align-items: center;
            line-height: 1.375rem;
            width: 100%;
            background: #F7F8FA;
            padding: 4px 10px;
            border-radius: 4px;

            .menu-item-icon {
                margin-right: 5px;
                color: #5B89FE;
            }

            .title-text {
                font-size: 12px;
                line-height: 17px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-bottom: 0;
                margin-right: 10px;
            }
        }

        .panel-main {
            padding: 20px 40px;

            .form-text {
                font-size: 90%;
                color: #969ba5 !important;
            }
        }
    }
}