.show-type-settings-button {
    position: absolute;
    right: 4px;
    bottom: 10px;
    z-index: 900;
}
.show-type-settings-button .f-icon {
    font-size: 18px;
    margin: 0 auto;
    line-height: 20px;
}