.f-view-model-designer {
    background-color: #fff;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .view-model-navbar {
        height: 44px;
        min-height: 44px;
        padding-top: 6px !important;
        align-items: center;
        display: flex;
        margin: 0 4px 0 20px;
        border-top: 1px solid #E6E9F0 !important;

        .nav {
            flex-wrap: nowrap;
            margin: 0 auto;
            border-radius: 10px;
            overflow-y: hidden !important;
            overflow-x: auto !important;
            border: 1px solid #E6E9F0 !important;

            li {
                font-size: 14px;
                white-space: nowrap;
                align-items: center;
                display: flex;
                cursor: pointer;
                font-weight: 500;
                padding: 0px 66px;
                line-height: 34px;
            }

            li.active {
                background: #eff4ff;
                border-radius: 10px;
                color: #5b89fe;
                transition: all 0.1s ease-out 0s;
            }
        }
    }
}