$tab-bar-shadow: 0px 6px 10px -6px rgba(53, 78, 200, .1);
$tab-bar-border-color: #F0F3F8;
$divider-image: linear-gradient(180deg, transparent 0%, rgba(40, 60, 93, .1) 23%, rgba(40, 60, 93, .1) 52%, rgba(40, 60, 93, .1) 84%, transparent 100%);

.code-editor-wrapper {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 550px;
    min-height: 200px;
    background-color: #FFFFFF;

    /** 切换标签*/
    .view-type-panel {
        padding: 2px;
        background: #F0F3F9;
        border-radius: 5px;
        margin-right: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        margin-left: 17px;
        height: 28px;
        min-width: 145px;
        cursor: pointer;
        color: #8DA3CE;
        align-self: center;

        >div {
            background: #F4F5F9;
            display: flex;
            text-align: center;
            align-items: center;
            padding: 0 8px;
            border-radius: 4px;

            span {
                width: 18px;
                height: 15px;
                margin-right: 4px;
            }
        }

        >div.active {
            color: #5B89FE;
            background: #fff;
            box-shadow: 0 0 4px 0 rgb(161 179 255 / 37%);
        }
    }

    .tab-bar {
        box-sizing: content-box;
        flex: 0 0 40px;
        display: flex;
        border-bottom: 1px solid $tab-bar-border-color;
        box-shadow: $tab-bar-shadow;

        .switch-btn {
            flex: 0 0 172px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .tabs {
            flex: 1 1 0;
            overflow: hidden;
        }

        .btn-tool-bar {
            flex: 0 0 90px;
            display: flex;
            flex-direction: row-reverse;
            padding-right: 24px;
            align-items: center;
        }

        .tab-bar-divider {
            width: 1px;
            height: 29px;
            background-image: $divider-image;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin-right: 15px;
        }
    }

    .main-area {
        box-sizing: border-box;
        flex: 1 1 0;
        overflow: hidden;

        .editor-area {
            box-sizing: border-box;
            height: 100%;
        }
    }
}

.app-custom-save-btn {
    border-radius: 6px !important;
    box-shadow: 0px 4px 10px 0px rgba(69, 144, 255, .25) !important;
    background-image: linear-gradient(-51deg, #328BFF 0%, #2A87FF 100%) !important;
}

.app-full-height {
    height: 100% !important;
}

.app-util-hide {
    display: none !important;
}

$tool-bar-button-interval: 6px;

.split-panel-header {
    height: 44px;
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 10;
    padding: 0 15px;
    flex-wrap: nowrap;

    .split-panel-header--toolbar {
        z-index: 1001;
        margin-left: auto;
        display: flex;
        padding: 0px $tool-bar-button-interval 0 0;

        .toolbar-item {
            display: flex;
            align-items: center;
            justify-content: center;
            background-repeat: no-repeat;
            color: #8592A6;
            font-size: 1em;
            margin-left: $tool-bar-button-interval;
            cursor: pointer;

            &:hover {
                background-color: #e9ecef;
                color: #495057;
            }
        }
    }

    .header-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #8592a6;
        cursor: pointer;
        overflow: hidden;
        width: 24px;
        height: 24px;
        background-color: transparent;
        border-radius: 4px;

        .f-icon {
            font-size: 14px;
        }

        &:hover {
            background-color: #e9ecef;
            color: #495057;
        }

        &.header-icon--toggler {
            .f-icon {
                font-size: 18px;
            }
        }
    }
}